<div class="block -{{block_class}} {{contain ? contain : 'contain-md'}}">
  <div class="block-inner">
  	  <div class="success">Start views/blocks/base.twig</div>
    {% block block_content %}{% endblock %}
  	  <div class="error">End views/blocks/base.twig</div>

  </div>
</div>
