
{% extends 'blocks/base.twig' %}

{% block block_content %}
  <div class="success">Start views/blocks/html.twig</div>


  {{block.html}}
  <div class="error">End views/blocks/html.twig</div>

{% endblock %}
